@import '../../styles/responsive.scss';

.home {

    &__container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    &__col {
        width: 50%;

        
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 4.2rem;
        margin-bottom: 4rem;
    }

    &__text {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    &__image {
        text-align: center;
        img {
            width: 80%;
        }
    }

    &__pills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 4rem 0;
    }

    @media (max-width: $mobileLarge) {
        &__col{
            width: 100%;
        }
    }
}