.card {

    width: 100%;
    max-width: 222px;

    &__container {

    }

    &__image {  
        border: 1px solid var(--lightGreen);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 222px;

    }

    &__content {
        padding: 1.6rem;

        h3 {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 2.8rem;
            color: var(--black);
        }
    }

    &__facilities {

        display: grid;
        grid-template-columns: repeat(5, 3rem);
        grid-gap: .5rem;
        margin-top: .5rem;

        
    }
}