@import '../../styles/responsive';

.header {
    &__container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 4rem 0;
        width: 100%;
    }

    &__logo {
        align-items: flex-end;
        display: flex;

        &--state {
            img {
                margin-right: 1rem;
            }
        }

    }

    &__city {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.6rem;
    }

    &__span {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.4rem;
        margin-right: 1.2rem;
    }

    @media screen and (max-width: $mobileLarge){

        &__logo {
            flex-wrap: wrap;

            &--ebac {
                width: 100px;
                margin-left: 3rem;
            }
        }

        &__city {
            margin-top: 1rem;
        }

        &__span {
            margin-bottom: .4rem;
        }

    }
}